.box{
    height: 321px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 10px;
    position: relative;
}
img{
    height: 188px;
    width: 301px;
    border-radius: 9px;
}
.left{
    position: absolute;
    top: 10px;
    color: white;
    line-height: 28px;
    height: 27px;
    width: 80px;
    border: 1px solid black;
    background-color: aqua;
    border-radius: 0 20px 20px 0;
}
a{
    text-decoration: none;
    color:inherit;
    display: block;
}
